---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About";
const identity = {
    firstName: "Stas",
    lastName:"Kalinowski",
    city:"Surrey",
    province:"BC",
    country:"Canada",
    hobbies:["Reading", "Programming", "Running"],
}
---
<BaseLayout pageTitle={pageTitle}>
    <div class="Box" style={{'background-color':'#16AA98', marginBottom:'8px'}}>
        <h2 style={{marginTop:'0px'}}>This blog</h2>
        <p>Welcome to my blog, a little space to share my thoughts, ideas, and steadily improve my writing. Influenced by Julia Evans and Jon Bois, I wanna try writing like them. My current areas of exploration include dynamic interfaces, knowledge tools, and application of ML to games. I’ll be chatting about my projects, programming things I’ve learned, and ideas I’ve ran into.</p>
    </div>
    <br/>
    <div class="Box" style={{'background-color':'#EA4C4C'}}>
        <h2 style={{marginTop:'0px'}}>Myself</h2>
        <p>Hello, my name is Stas Kalinowski. I'm a computer scientist residing in Surrey, BC, Canada.</p>
        <p>Reading is a passion of mine, I enjoy all types of genres, But I particularly enjoy intuitive writing styles.</p>
        <p>I used play games more often, but these days its just TFT.</p>
        <p>For personal projects, currently, I'm developing Fiszka, a Language Model augmented flash-carding application, and also exploring the emulation of Pico-8 games with neural networks.</p>
        <p>English and writing has always been a struggle for me, but I’ve always loved good writing, so I figured I’d stop holding myself back and just get good.</p>
        <p>Personal Inspirations: Julia Evans, Jon Bois, Michael Nielsen, Day9, and Arnold Schwarzenegger</p>
    </div>

    <hr/>
    <p>Feel free to reach out to me on twitter or through my email!</p>
    <p>Email: kalinowski.stas@gmail.com</p>
</BaseLayout>