---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About";
const identity = {
    firstName: "Stas",
    lastName:"Kalinowski",
    city:"Surrey",
    province:"BC",
    country:"Canada",
    hobbies:["Reading", "Programming", "Running"],
}
---
<BaseLayout pageTitle={pageTitle}>
    <div class="Box" style={{'background-color':'#16AA98', marginBottom:'8px'}}>
        <h2 style={{marginTop:'0px'}}>This blog</h2>
        <p>Welcome to my blog, just a little space for myself.</p>
        <p>Putting down my thoughts, practicing my writing.</p>
        <p>Main inspirations: Julia Evans and Jon Bois, I wanna try writing like them.</p>
        <p>My current areas of exploration is in knowledge tools, to help me be smart</p>
        <p>And application of ML to games, because games are fun!</p>
    </div>
    <br/>
    <div class="Box" style={{'background-color':'#EA4C4C'}}>
        <h2 style={{marginTop:'0px'}}>Myself</h2>
        <p>Hello, my name is Stas Kalinowski. I live in Surrey, B.C.</p>
        <p>I like computers, reading, and games. I occasionally write.</p>
        <p>Personal Inspirations/Role Models: Julia Evans, Jon Bois, Michael Nielsen, Day9, and Arnold Schwarzenegger</p>
    </div>

    <hr/>
    <p>Feel free to reach out to me on twitter or through my email!</p>
    <p>Email: kalinowski.stas@gmail.com</p>
</BaseLayout>