---
import Social from "./Social.astro";
---
<div>
    <h1>STKalinow</h1>
        <a href="/STKalinow/">Blog</a>
        <a href="/STKalinow/about/">About</a>
        <Social platform="Twitter" username="STKalinow"/>
        <Social platform="Github" username="STKalinowski"/>
</div>
<hr/>